<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="insomnia_practice_server.OptionsMethod"/>
      <!-- <class name="insomnia_practice_server.connect"/> -->
      <class name="in.Demo_RestAssured.DeleteMethod"/>
      <class name="in.Demo_RestAssured.OptionsMethod"/>
      <class name="insomnia_practice_server.Patchmethod"/>
      <class name="in.Demo_RestAssured.SeleniumTest"/>
      <class name="in.Demo_RestAssured.PatchMethod"/>
      <class name="insomnia_practice_server.Headermethod"/>
      <class name="insomnia_practice_server.Deletemethod"/>
      <!-- <class name="in.Demo_RestAssured.CreateUserTest"/> -->
      <class name="in.Demo_RestAssured.HeaderMethod"/>
      <class name="in.Demo_RestAssured.GetUserTest"/>
      <!-- <class name="insomnia_practice_server.createuser"/> -->
      <class name="insomnia_practice_server.Putmethod"/>
      <class name="in.Demo_RestAssured.Put_method"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
